.bg-purple-dark {background-color: #5f276e;}
.bg-purple-light{background-color: #a219c5;}
.centralizado{text-align: center;}
.font-light{color: #ffffff;}
.esquerda{text-align: left;}

.tamanho {
    max-width: 900px;
    height: 800px;
    padding-top: 90px;
    margin-right: auto;
    margin-left: auto;
}

#card-container {
    max-width: 900px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#form-container {
    max-width: 20rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#table-container {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

#warning-container {
    max-width: 20rem;
    position: relative;
    top: 380px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#error-container {
    max-width: 20rem;
    position: relative;
    top: 300px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.topo {
	margin: auto;
	width: 100%;
}

.pro_lado {
	position: relative;
	left: 100px;
}

.lado {
	padding-left: 20px;
}